:root{
    --bg:#ffffff;
    --text:#222;
    --card:#f4f4f4;
    --primary:#2e7d32;
}

.dark{
    --bg:#121212;
    --text:#ffffff;
    --card:#1f1f1f;
    --primary:#4caf50;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Arial, sans-serif;
    transition:.3s;
}

header{
    background:var(--primary);
    padding:15px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

nav h1{
    color:white;
}

nav ul{
    display:flex;
    gap:20px;
    list-style:none;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

#theme-btn{
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}

.hero{
    text-align:center;
    padding:80px 20px;
}

section{
    padding:60px 10%;
}

section h2{
    margin-bottom:20px;
    color:var(--primary);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:var(--card);
    padding:20px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.lista{
    padding-left:20px;
}

.lista li{
    margin-bottom:10px;
}

footer{
    background:var(--primary);
    color:white;
    text-align:center;
    padding:20px;
}

html{
    scroll-behavior:smooth;
}